<!DOCTYPE html>
<html lang="hr-HR">

<head>
  <!-- Cookie Consent by FreePrivacyPolicy.com https://www.FreePrivacyPolicy.com -->
  <script type="text/javascript" src="//www.freeprivacypolicy.com/public/cookie-consent/4.0.0/cookie-consent.js"
    charset="UTF-8"></script>
  <script type="text/javascript" charset="UTF-8">
    document.addEventListener('DOMContentLoaded', function () {
      cookieconsent.run({ "notice_banner_type": "simple", "consent_type": "express", "palette": "light", "language": "hr", "page_load_consent_levels": ["strictly-necessary"], "notice_banner_reject_button_hide": false, "preferences_center_close_button_hide": false, "page_refresh_confirmation_buttons": false, "website_name": "Ludicrum", "website_privacy_policy_url": "https://ludicrum.onrender.com/uvjetiKoristenja" });
    });
  </script>

  <!-- Google analytics -->
  <script type="text/plain" cookie-consent="tracking" async
    src="https://www.googletagmanager.com/gtag/js?id=G-2ECY8LHW68"></script>
  <script type="text/plain" cookie-consent="tracking">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'G-2ECY8LHW68');
  </script>
  <!-- end of Google analytics-->

  <noscript>Cookie Consent by <a href="https://www.freeprivacypolicy.com/" rel="noopener">Free Privacy Policy
      Generator</a></noscript>
  <!-- End Cookie Consent by FreePrivacyPolicy.com https://www.FreePrivacyPolicy.com -->

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content=<%=description %>>
  <title>
    <%= title %>
  </title>
  <script type="application/ld+json">
        {
          "@context": "https://ludicrum.com.hr/",
          "@type": "Website",
          "url": "https://www.ludicrum.com.hr/",
          "name": "Ludicrum",
          "author": {
            "@type": "Person",
            "name": "Antonio Gičić"
          },
          "publisher": "Antonio Gičić",
          "logo": "https://www.ludicrum.com.hr/public/Logo.png",
          "description": "Jednostavan i besplatan pregled i objava događaja na teritoriju Republike Hrvatske"
        }
        </script>
  <link rel="icon" href="/Logo.png" type="image/icon type">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/custom.css">
  <script src="/js/jquery-3.6.1.js"></script>
</head>

<body>
  <div
    style="position: fixed; bottom: 0; right: 0; z-index:5000; background-color: rgb(28, 28, 28); margin: 2px; padding: 8px; border-radius: 5px;">
    <a href="#" id="open_preferences_center"
      style="color: whitesmoke; text-decoration: none; font-family: Arial, Helvetica, sans-serif;">Upravljanje
      kolačićima</a>
  </div>