<!-- start of navbar -->
<nav id="navbar" class="navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand fs-3 d-flex align-items-center fw-bold" href="/" style="color: #1bae70"><img
                src="/Logo.png" alt="" width="40" height="40" class="d-inline-block me-2">
            LUDICRUM
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul id="navbar-ul" class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item mx-3">
                    <a class="nav-link fw-bolder fs-6" href="/dogadaji">Pregledaj</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link fw-bolder fs-6" href="/objavi">Objavi</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link fw-bolder fs-6" href="/oNama">O nama</a>
                </li>
                <li class="nav-item mx-3">
                    <a class="nav-link fw-bolder fs-6" href="/kontakt">Kontakt</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- end of navbar -->