<%- include('partials/header.ejs') %>
    <%- include('partials/backgroundImages.ejs') %>
        <%- include('partials/navbar.ejs') %>
            <!-- start of "Page not found" message -->
            <div class="container page-not-found d-flex align-items-center justify-content-center">
                <h3 class="h1 text-center">Ups, tražena stranica nije pronađena!</h3>
            </div>
            <!-- end of "Page not found" message -->
            <!-- start of footer -->
            <div class="container-fluid footer"
                style="background-color: #171b17; padding-bottom: 3vh; position: relative;">
                <div class="row social-media">
                    <div class="container d-flex my-1 justify-content-center">
                        <a href="https://www.facebook.com/"><img src="/facebook.svg" alt="facebook" style="height: 20px"
                                class="d-inline-block"></a>
                        <a href="https://www.instagram.com/"><img src="/instagram.svg" alt="instagram"
                                style="height: 20px" class="d-inline-block"></a>
                        <a href="https://www.youtube.com/"><img src="/youtube.svg" alt="youtube" style="height: 20px"
                                class="d-inline-block"></a>
                    </div>
                </div>
                <div class="row">
                    <p class="text-center my-auto">© 2022 Ludicrum.com.hr sva prava pridržana.</p>
                </div>
                <div class="row">
                    <p class="text-center my-auto terms-of-use-footer"><a href="/uvjetiKoristenja"
                            style="text-decoration: none; color: #1bae70;">Uvjeti korištenja i
                            pravila
                            privatnosti</a>
                    </p>
                </div>
            </div>
            <!-- end of footer -->
            <script src="/js/bootstrap.min.js"></script>
            <script src="/js/custom.js"></script>
            </body>

            </html>